body {
	margin: 0px;
	padding: 0px;
	-webkit-font-smoothing: subpixel-antialiased;
	-ms-font-smoothing: subpixel-antialiased;
	-o-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
	font-smooth: always;
}
header{
	text-align: left;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 120px;
	height: 120px;
	z-index: 10;
	background-color: #EBEBEB;
	background-image: url('../img/nav_bg.png');
	background-repeat: repeat;
	background-position: center center;
	-moz-box-shadow: inset rgba(0, 0, 0, .85) 0 0px 10px 3px;
	-webkit-box-shadow: inset rgba(0, 0, 0, .85) 0 0px 10px 3px;
	box-shadow: inset rgba(0, 0, 0, .85) 0 0px 10px 3px;
	cursor: pointer;
}
header h1{
	font-size: 90px;
	font-weight: 500;
/*	color: #BEBEBE;
	text-shadow: 0px -1px #000, 0px 1px #fff;
	text-shadow: 0px -1px rgba(0, 0, 0, 0.65), 0px 1px rgba(255, 255, 255, 0.20);*/
	color: #333;
	text-shadow: 0px -1px #000, 0px 1px #fff;
	text-shadow: 0px -1px rgba(0, 0, 0, 0.60), 0px 1px rgba(255, 255, 255, 0.20);
	margin-top: 35px;
	position: relative;
}
header h1, header sup, header sub{
	-webkit-transition: all 1.5s ease-out;
	-moz-transition: all 1.5s ease-out;
	-o-transition: all 1.5s ease-out;
	-ms-transition: all 1.5s ease-out;
}
header h1:hover{
	color: #D14;
	text-shadow: 0px -1px #333, 0px 1px #FAFAFA;
	text-shadow: 0px -1px rgba(0, 0, 0, 0.20), 0px 1px rgba(255, 255, 255, 0.15);
}

.welcome_text .row{
	margin-top: 5px;
	margin-bottom: 25px;
}

.welcome_text .well{
	background-color: rgba(0,0,0, 0.3);;
	border: 1px solid #333;
	-webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
	color: #C8CCCC;
}

header h1:hover sup{
	color: #7a4912;
}

.admin .container {
	width: 990px;
}

.admin .container-fluid {
	margin: 2px 25px;
}

.admin .inner{
	background: #fafafa url(../img/code_background.gif) repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 3px 0px #777;
	-moz-box-shadow: 0px 1px 3px 0px #777;
	box-shadow: 0px 1px 3px 0px #777;
	margin: 2px -5px;
	padding: 20px;
}

body.admin{
	background: #fafafa url(../img/diagonal-noise.png) repeat;
}

.admin h1{	
	font-size: 60px;	
	font-weight: 500;
	text-shadow: 0px -1px #000, 0px 1px #fff;	
	text-shadow: 0px -1px rgba(0, 0, 0, 0.40), 0px 1px rgba(255, 255, 255, 0.20);
}

sup i.icon-lemon{
	color: rgb(255, 194, 0);
}

.admin h1 sup{	
	font-weight: 600;
	font-size: 24px;
	position: relative;
	top: -32px;
	left: -4px;
}

h1 sub{
	font-size: 16px;
	font-weight: 100;
	position: relative;
	top: 4px;
	left: -18px;
	color: #7a4912;
}

.hero-unit.super{
	padding: 60px;
	margin-right: -60px;
	margin-left: -60px;
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 20px;
	font-size: 14px;
}

.hero-unit{
	font-size: 14px;
	line-height: 20px;
}

.hero-unit li {
	line-height: 20px;
}

.nav-list > li > a, .nav-list .nav-header {
	margin-right: -25px;
	margin-left: -25px;
}
.super{	
	background: #EBEBEB url('../../img/logo_bg.webp') no-repeat;	
	background-position: center center;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	color: #444;	
	text-shadow: 0px -1px #000, 0px 1px #fff;	
	text-shadow: 0px -1px rgba(0, 0, 0, 0.40), 0px 1px rgba(255, 255, 255, 0.20);
}

#work_area{
	text-shadow: none;	
}

.well{
	background-color: rgba(255,255,255, 0.9);
}

.super h1{	
	font-size: 100px;	
	font-weight: 500;}

h1 sup{
	color: rgb(255, 194, 0);
	font-weight: 300;
	//font-weight:300; 	
	font-size: 35px;	
	position: relative; 	
	top:-55px; 	
	left:-8px;
}

h1:first-letter, h2:first-letter, h3:first-letter, h4:first-letter, h5:first-letter, h6:first-letter, .indired:first-letter{
	color: rgb(255, 194, 0);
}

.super .well-transparent{ 
	background-color: #FAFAFA;
	background-color: rgba(255, 255, 255, 0.5);}

.thumbnail{
	border:1px solid rgba(123, 123, 123, .0);
	border:1px solid transparent;
}
::selection{
   background: rgba(255, 191, 119, .5);
   text-shadow: none;
  }
::-moz-selection { 
	background: rgba(255, 191, 119, .5);
	text-shadow: none; 
}
a {
	-webkit-tap-highlight-color: rgba(40, 209, 255, .3);
}
.content_container{
	width: 100%;
	background: #fff;
	position: relative;
	margin-top: 120px;
	z-index: 100;
}
#mainer{
	margin-top: 120px;
}
.navbar {
margin-bottom: -0px;
}
.admin .navbar {
	margin-bottom: 10px;
	margin-left: -25px;
	margin-right: -25px;
	margin-top: -20px;
}
.admin .navbar-inner{
	-webkit-box-shadow: 0px 1px 3px 0px #555;
	-moz-box-shadow: 0px 1px 3px 0px #555;
	box-shadow: 0px 1px 3px 0px #555;

}
.navbar-inner{
	background-image: none;
	border: none;
}
.cc_top{
	background: url('/img/top.png') repeat-x;
	background-size: 11px 11px;
	height: 11px;
	top: -11px;
	position: absolute;
	/*margin-left: -20px;
	margin-right: -20px;*/
	width: 100%;
}
.cc_bottom{
	background: url('/img/bottom.png') repeat-x;
	background-size: 11px 11px;
	height: 11px;
	bottom: -11px;
	position: absolute;
	/*margin-left: -20px;
	margin-right: -20px;*/
	width: 100%;
}
.wellPic{
	background: #EBEBEB url('/img/logo_bg.webp') 150% no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-moz-box-shadow: rgba(0, 0, 0, .5) 0 0px 8px 2px;
	-webkit-box-shadow: rgba(0, 0, 0, .5) 0 0px 8px 2px;
	box-shadow: rgba(0, 0, 0, .5) 0 0px 8px 2px;
}
.welcome_text{
	font-weight: 300;
	text-align: center;
	margin-bottom: 15px;
	padding: 20px;
	
	//background: #EBEBEB url('/img/hero_bg.webp') no-repeat;
	background: #EBEBEB url('../img/footer_bg.png') repeat;
	//-webkit-background-size: cover;
	//-moz-background-size: cover;
	//-o-background-size: cover;
	//background-size: cover;
	color: rgba(0, 0, 0, 0.60);
	text-shadow: 0px -1px #000, 0px 1px #fff;
	text-shadow: 0px -1px rgba(0, 0, 0, 0.10), 0px 1px rgba(255, 255, 255, 0.20);
	
	-moz-box-shadow: inset rgba(0, 0, 0, .85) 0 0px 10px 3px;
	-webkit-box-shadow: inset rgba(0, 0, 0, .85) 0 0px 10px 3px;
	box-shadow: inset rgba(0, 0, 0, .85) 0 0px 10px 3px;
	
	z-index: 20;
	position: relative;
}
.hero-unit .well-transparent{
	background-color: #FAFAFA;
	background-color: rgba(255, 255, 255, 0.5)
}
.hero-unit h1{
	font-size: 90px;
	font-weight: 500;
	color: #333;
	text-shadow: 0px -1px #000, 0px 1px #fff;
	text-shadow: 0px -1px rgba(0, 0, 0, 0.60), 0px 1px rgba(255, 255, 255, 0.20);
}
.hero-unit h4{
	font-weight: 300;
}
.hero-unit .btn{
	/*float: none;
	font-size: 15px;
	padding: 14px;
	margin: 5px;*/
}
h2 a{
	font-weight: 300;
	font-size: 22px;
}
.page-header{
	background: #fafafa;
	padding: 10px;
	position: relative;
	
	color: #555;
	text-shadow: 0px -1px #000, 0px 1px #fff;
	text-shadow: 0px -1px rgba(0, 0, 0, 0.70), 0px 1px rgba(255, 255, 255, 0.90);
}
.page-header h1{
	font-weight: 300;
	font-size: 50px;
	color: #D14;
	color: rgba(221, 17, 68, 0.98);
}

.page-header p{
	text-shadow: 0px 1px #fff;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.95);
}

.page-header h1 img{
	margin-bottom: 13px;
}

.page-header h1 small{
	position: relative;
	top: -5px;
}

.page-header h2 small{
	font-weight: 100;
}

.page-header small.time{
	font-size: 10px;
	position: absolute;
	top: 75px;
	left: 10px;
}

h1, h2{
	font-weight: 300;
}

h3, h4{
	font-weight: 600;
}

.mozaic_desc{
	max-height: 123px;
	overflow: hidden;
	position: relative;
	padding-right: 24px;
	text-align: justify;
	cursor: pointer;
}
.mozaic_desc .continue_read{
	position: absolute;
	bottom: 3px;
	right: -1px;
}
.bs-links {
  margin: 2px auto;
}
.quick-links {
  margin: 15px;
  padding: 5px;
  list-style: none;
  text-align: left;
  overflow: hidden;
}
.quick-links:first-child {
  min-height: 0;
}
.quick-links li, .quick-links div {
  display: inline !important;
  margin: 0 2px !important;
  color: #999 !important;
}
.quick-links .github-btn,
.quick-links .tweet-btn,
.quick-links .follow-btn,
.quick-links div,
.quick-links li iframe {
  position: relative !important;
  max-width: 220px !important;
}

.quick-links div, .tweet-btn, .tweet-btn iframe {
  position: relative !important;
  max-width: 130px !important;
}

.count.btn{background:#fff;font-weight:normal}
.watch,.fork{margin-right:30px}

i.blue{
	color: #4293ce;
}

.edit_btns{
	position: fixed;
	top: 200px;
	right: -160px;
	max-width: 220px;
	z-index: 90;
}
.edit_btns .btn{
	position: relative;
	min-width: 200px;
	text-align: left;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	z-index: 90;
}
.edit_btns .btn:hover{
	right: 160px;
}

.alert.compact{
	margin: 0px;
	padding: 2px;
	list-style: none;
}
.alert.compact>ul, .alert.compact>li{
	list-style: none;
	margin: 0px;
}

.redactor_toolbar .alert.compact ul, .alert.compact ul li{
	padding: 0px;
	font-size: 12px;
	cursor: default;
	float: none !important;
}
.redactor_toolbar .status{
	font-size: 12px;
}
.redactor_toolbar li{
	padding: 0px;
}

.super_logo i{
	position: absolute; 
	left: 45%; 
	padding: 5px;
	-webkit-transition: all 1.5s ease-out;
	-moz-transition: all 1.5s ease-out;
	-o-transition: all 1.5s ease-out;
	-ms-transition: all 1.5s ease-out;
}

.ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100px;
}