# Turning on the rewrite engine is necessary for the following rules and
# features. "+FollowSymLinks" must be enabled for this to work symbolically.

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	DirectoryIndex index.php
	RewriteEngine On
</IfModule>

RewriteEngine On
RewriteBase /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ http://yourdomain.com/ [R=301,L]
 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . / [L]


#Error 404
ErrorDocument 404 ttp://yourdomain.com/
# compress the files
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript text/x-component application/x-javascript application/javascript image/x-icon image/gif image/png image/jpg image/jpeg


#Caching for files
FileETag MTime Size
<ifmodule mod_expires.c>
<filesmatch ".(jpg|gif|png|css|js)$">
ExpiresActive on
ExpiresDefault "access plus 6 month"
</filesmatch>
</ifmodule>

AddDefaultCharset utf-8

AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm